### Amirhossein Kargaran Khouzani (Stu No: 99201119)

## Import Libraries

In [1]:
import pandas as pd
import numpy as np

## Part 1
- load data 
- determine threshold and ratio of missing data
- drop the features with missing data ratio over threshold
- show missing data ratio of columns (before/after)

In [2]:
df = pd.read_csv('dimensionality_reduction_cbb.csv')

threshold = 0.8
norm_null = df.isnull().sum()/len(df)
dropped_features = norm_null.loc[norm_null > threshold].index
df = df.drop(dropped_features,axis=1)
norm_null2 = df.isnull().sum()/len(df)

print(f"**old missing data ratio of columns**:\n{norm_null},\n**new missing data ratio of columns**:\n{norm_null2}")

**old missing data ratio of columns**:
TEAM          0.000000
CONF          0.000000
G             0.000000
W             0.000000
ADJOE         0.000000
ADJDE         0.000000
BARTHAG       0.000000
EFG_O         0.000000
EFG_D         0.000000
TOR           0.000000
TORD          0.000000
ORB           0.000000
DRB           0.000000
FTR           0.000000
FTRD          0.000000
2P_O          0.000000
2P_D          0.000000
3P_O          0.000000
3P_D          0.000000
ADJ_T         0.000000
WAB           0.000000
POSTSEASON    0.806488
SEED          0.806488
YEAR          0.000000
dtype: float64,
**new missing data ratio of columns**:
TEAM       0.0
CONF       0.0
G          0.0
W          0.0
ADJOE      0.0
ADJDE      0.0
BARTHAG    0.0
EFG_O      0.0
EFG_D      0.0
TOR        0.0
TORD       0.0
ORB        0.0
DRB        0.0
FTR        0.0
FTRD       0.0
2P_O       0.0
2P_D       0.0
3P_O       0.0
3P_D       0.0
ADJ_T      0.0
WAB        0.0
YEAR       0.0
dtype: float64

In [3]:
df

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.0,32.3,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,23.7,36.2,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,24.9,30.7,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,28.7,32.9,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.2,39.0,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752,Texas A&M,SEC,35,22,111.2,94.7,0.8640,51.4,46.9,19.2,...,27.3,32.0,27.6,52.5,45.7,32.9,32.6,70.3,1.9,2018
1753,LSU,SEC,35,28,117.9,96.6,0.9081,51.2,49.9,17.9,...,30.8,37.1,33.1,52.9,49.4,31.9,33.7,71.2,7.3,2019
1754,Tennessee,SEC,36,31,122.8,95.2,0.9488,55.3,48.1,15.8,...,30.2,33.3,34.9,55.4,44.7,36.7,35.4,68.8,9.9,2019
1755,Gonzaga,WCC,35,27,117.4,94.5,0.9238,55.2,44.8,17.1,...,26.0,34.4,28.1,54.3,44.4,37.8,30.3,68.2,2.1,2016
1756,Gonzaga,WCC,37,32,117.2,94.9,0.9192,57.0,47.1,16.1,...,23.1,32.1,29.1,58.2,44.1,36.8,35.0,70.5,4.9,2018

## Part 2
- load data, make a copy
- find non numeric columns an convert them to numeric
- compute variance
- drop columns with less variance than threshold
- back to the original form 
- report

In [4]:
df = pd.read_csv('dimensionality_reduction_cbb.csv')
df_copy = df.copy()

for i in list(df.columns):
    df[i].fillna(df[i].mode()[0],inplace=True)

df_none_num = df.select_dtypes(include=np.object_)

# non_numeric -> categorical -> numeric
for i in list(df_none_num.columns):
    df[i] = df[i].astype('category')
    df[i] = df[[i]].apply(lambda x: x.cat.codes)
    df[i] = df[i].astype('int64')
    

threshold = 10
variance = df.var()
dropped_features = norm_null.loc[variance < threshold].index
df = df.drop(dropped_features,axis=1)
variance2 = df.var()

# back to the original 
for i in list(df_none_num.columns):
    if i in df.columns:
        df[i] = df_copy[i]

print(f"**old variance of columns**:\n{variance},\n**new variance of columns**:\n{variance2}")

**old variance of columns**:
TEAM          10506.624694
CONF             93.948238
G                 6.774668
W                42.844496
ADJOE            53.362660
ADJDE            41.895531
BARTHAG           0.065173
EFG_O             9.799591
EFG_D             8.177336
TOR               3.966618
TORD              4.447747
ORB              16.824613
DRB               9.374532
FTR              23.859306
FTRD             34.821035
2P_O             11.711017
2P_D             10.812684
3P_O              7.520337
3P_D              5.615606
ADJ_T            10.620558
WAB              48.841845
POSTSEASON        0.386518
SEED              4.979498
YEAR              2.003412
dtype: float64,
**new variance of columns**:
TEAM     10506.624694
CONF        93.948238
W           42.844496
ADJOE       53.362660
ADJDE       41.895531
ORB         16.824613
FTR         23.859306
FTRD        34.821035
2P_O        11.711017
2P_D        10.812684
ADJ_T       10.620558
WAB         48.841845
dtype: float64

In [5]:
df

,TEAM,CONF,W,ADJOE,ADJDE,ORB,FTR,FTRD,2P_O,2P_D,ADJ_T,WAB
0,North Carolina,ACC,33,123.3,94.9,40.7,32.3,30.4,53.9,44.6,71.7,8.6
1,Wisconsin,B10,36,129.1,93.6,32.1,36.2,22.4,54.8,44.7,59.3,11.3
2,Michigan,B10,33,114.4,90.4,25.5,30.7,30.0,54.7,46.8,65.9,6.9
3,Texas Tech,B12,31,115.2,85.2,27.4,32.9,36.6,52.8,41.9,67.5,7.0
4,Gonzaga,WCC,37,117.8,86.3,30.0,39.0,26.9,56.3,40.0,71.5,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...
1752,Texas A&M,SEC,22,111.2,94.7,33.9,32.0,27.6,52.5,45.7,70.3,1.9
1753,LSU,SEC,28,117.9,96.6,36.7,37.1,33.1,52.9,49.4,71.2,7.3
1754,Tennessee,SEC,31,122.8,95.2,31.6,33.3,34.9,55.4,44.7,68.8,9.9
1755,Gonzaga,WCC,27,117.4,94.5,32.1,34.4,28.1,54.3,44.4,68.2,2.1
1756,Gonzaga,WCC,32,117.2,94.9,33.0,32.1,29.1,58.2,44.1,70.5,4.9

## Part 3
- load data
- set threshold and find | high correlated columns |
- report list of pairs
- question doesnt want to delete any columns! and just says report them with their correlation.

In [6]:
df = pd.read_csv('dimensionality_reduction_cbb.csv')

list_of_pairs = []
threshold = 0.7
correlation = df.corr().abs()
correlated_features = np.where(correlation > threshold)
correlated_features = list(zip(*correlated_features))
for i,j in correlated_features:
    if i!=j and i<j:
        x = correlation.columns[i]
        y = correlation.columns[j]
        list_of_pairs.append((x, y, correlation.loc[correlation.index == x][y][0]))
list_of_pairs

[('G', 'W', 0.7088380009069766),
 ('W', 'ADJOE', 0.7545316641204285),
 ('W', 'BARTHAG', 0.8145120655350413),
 ('W', 'WAB', 0.9050292061790411),
 ('ADJOE', 'BARTHAG', 0.8706862451229292),
 ('ADJOE', 'EFG_O', 0.7326828226280265),
 ('ADJOE', 'WAB', 0.8516633691733866),
 ('ADJOE', 'SEED', 0.7916923933838891),
 ('ADJDE', 'BARTHAG', 0.8524321842080863),
 ('ADJDE', 'EFG_D', 0.7923203476738836),
 ('ADJDE', '2P_D', 0.7284876406938223),
 ('ADJDE', 'WAB', 0.8094857810524124),
 ('ADJDE', 'SEED', 0.7060461602203677),
 ('BARTHAG', 'WAB', 0.9417757506664339),
 ('BARTHAG', 'SEED', 0.8327088058844317),
 ('EFG_O', '2P_O', 0.8935301754225792),
 ('EFG_O', '3P_O', 0.7630283922969177),
 ('EFG_D', '2P_D', 0.9079329879509386),
 ('EFG_D', '3P_D', 0.722404405849695),
 ('WAB', 'SEED', 0.9221110224131911)]