## import libraries

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.3'

## part 1:
- `day` represented as diffrenet coulmns and `year` and `month` represented as seprated columns -> we should merge them as `date`, especially the `day`! at least `day` should be a single coulmn not 31s.
- extra coulmns like `X`
- managing Non values
-  numeric data should have a numeric type and inconsistency should be reolved in `PrecipitationIn` column (`T` is equal to `0`)
- `date` is a good term to be as an  index
- percentage is between `0` to `100`
- This unequlaity should be correct in all related columns : `Max >= Mean >= min`

## load dataset

In [3]:
df = pd.read_csv('weather.csv', index_col='Unnamed: 0')
df

,X,year,month,measure,X1,X2,X3,X4,X5,X6,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
0,1,2014,12,Max.TemperatureF,64,42,51,43,42,45,...,44,47,46,59,50,52,52,41,30,30
1,2,2014,12,Mean.TemperatureF,52,38,44,37,34,42,...,39,45,44,52,44,45,46,36,26,25
2,3,2014,12,Min.TemperatureF,39,33,37,30,26,38,...,33,42,41,44,37,38,40,30,22,20
3,4,2014,12,Max.Dew.PointF,46,40,49,24,37,45,...,39,45,46,58,31,34,42,26,10,8
4,5,2014,12,MeanDew.PointF,40,27,42,21,25,40,...,34,42,44,43,29,31,35,20,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,282,2015,12,Max.Gust.SpeedMPH,17,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,283,2015,12,PrecipitationIn,0.14,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,284,2015,12,CloudCover,7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,285,2015,12,Events,Rain,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,286,2015,12,WindDirDegrees,109,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## rename X columns to integers

In [4]:
dict_X = {'X' + str(i):i for i in range(1,32)}
df.rename(columns=dict_X, inplace=True)

## convert date
- Melt data 
- convert (year, month, day) -> datetime form (date)
- drop extra columns
- drop null values

In [5]:
df = pd.melt(df, id_vars = ['X', 'year', 'month', 'measure'], var_name='day')
df['date'] = df[['year', 'month', 'day']].apply(lambda x: pd.to_datetime(f'{x.year} {x.month} {x.day}', errors='coerce'), axis=1)
df.drop(['X', 'year', 'month', 'day'], inplace = True, axis = 1)
df.dropna(inplace=True)
df

                 measure value       date
0       Max.TemperatureF    64 2014-12-01
1      Mean.TemperatureF    52 2014-12-01
2       Min.TemperatureF    39 2014-12-01
3         Max.Dew.PointF    46 2014-12-01
4         MeanDew.PointF    40 2014-12-01
...                  ...   ...        ...
8816  Mean.Wind.SpeedMPH     7 2015-10-31
8817   Max.Gust.SpeedMPH    17 2015-10-31
8818     PrecipitationIn  0.00 2015-10-31
8819          CloudCover     4 2015-10-31
8821      WindDirDegrees   224 2015-10-31

[7845 rows x 3 columns]

## pivot (melt^{-1}) -> getting back to normal

In [6]:
df = df.pivot(index = ['date'], columns = 'measure')
df.columns = [col[1] for col in df.columns]
df

,CloudCover,Events,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Humidity,...,Mean.VisibilityMiles,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees
date,,,,,,,,,,,,,,,,,,,,,
2014-12-01,6,Rain,46,29,74,30.45,64,10,22,63,...,10,13,40,26,52,30.01,39,10,0.01,268
2014-12-02,7,Rain-Snow,40,29,92,30.71,42,10,24,72,...,8,15,27,17,51,30.4,33,2,0.10,62
2014-12-03,8,Rain,49,38,100,30.4,51,10,29,79,...,5,12,42,24,57,29.87,37,1,0.44,254
2014-12-04,3,NaN,24,33,69,30.56,43,10,25,54,...,10,12,21,13,39,30.09,30,10,0.00,292
2014-12-05,5,Rain,37,26,85,30.68,42,10,22,66,...,10,10,25,12,47,30.45,26,5,0.11,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-11-27,7,NaN,52,32,100,30.63,64,10,26,78,...,9,14,49,47,56,30.15,48,5,0.00,209
2015-11-28,8,Rain,50,23,93,30.2,60,10,18,80,...,9,10,43,36,67,30.11,41,4,0.21,358
2015-11-29,4,NaN,33,20,79,30.42,44,10,16,58,...,10,10,23,15,36,30.19,32,10,0.00,326
2015-11-30,6,NaN,26,17,75,30.53,38,10,14,65,...,10,9,23,18,54,30.39,28,10,0.00,65
2015-12-01,7,Rain,43,17,96,30.4,45,10,15,83,...,8,6,35,25,69,30.01,32,1,0.14,109

## final process
- Trace amounts of precipitation are abbreviated by the capital letter "T", often placed in parenthesis (T). If you must convert a trace to a numerical amount, it would equal 0.00 (https://www.thoughtco.com/what-is-trace-of-precipitation-3444238)

- maximum amount of water vapor in the air will produce a relative humidity (RH) of 100 percent. Max.Humidity has a one row problem.
- Max >= Mean >= min -> Mean.VisibilityMiles has a one row problem

In [7]:
df['PrecipitationIn'] = df['PrecipitationIn'].str.replace('T', '0')

# convert columns to numeric except date and events
cols = [i for i in df.columns if i not in ["date","Events"]]
for col in cols:
    df[col] = pd.to_numeric(df[col])

df.loc[(df['Max.Humidity'] > 100, 'Max.Humidity')] = 100
df.loc[(df['Mean.VisibilityMiles'] < df['Min.VisibilityMiles'], 'Mean.VisibilityMiles')] = float('NaN')

## export csv

In [8]:
df.to_csv('cleaned_weather.csv')